*{
  margin: 0;
  padding: 0;
}

body{
  /* padding: 2rem; */
  font-family: arial;
  font-size: 1.5rem;
  /* color: orange; */
  text-align: center;
  margin: 0;
  padding: 0;
}

body *{
  text-align: left;
}

#container{
  /* border: 1px solid #999; */
  width: 75%;
  margin: 3rem auto;
  padding: 2rem;
}

#cabecera{
  border-bottom: 2px solid #333;
  padding-bottom: 1rem;
  color: #f60;;
}

#post_title{
  font-size: 4rem;
  /* line-height: 3rem; */
  margin: 3rem auto;
  color: black;
}

#post_content{
  font-size: 1.25rem;
  color: #666;
}

#post_content p{
    text-align: justify;
    margin: 1rem auto;
  }